*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Times New Roman";
    font-size: 22px;
    margin: 0 auto;
    width: 960px;
}
.head{
    background: gainsboro;
    height:70px;
}
.head ul {
    line-height: 55px;
    text-align: center;
}
.head ul li{
    display: inline;
    padding: 5px;
    text-decoration: none;
}
.head ul li a{
    text-decoration: none;
}

.head ul li a:hover{
    background:red;
}
.content{
    min-height: 800px;
    border: 6px;
    background: rosybrown;
}
.content p{
    text-align: justify;
}

.footer{
    background: gainsboro;
    height:70px;
}
.footer p{
    text-align: center;
    line-height: 78px;
}